[submodule "vendor/textmate"]
	   path = vendor/textmate.el	
	   url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/rinari"]
	   path = vendor/rinari
	   url = git://github.com/eschulte/rinari.git
[submodule "vendor/sass-mode"]
	   path = vendor/sass-mode
	   url = git://github.com/nex3/sass-mode.git
[submodule "vendor/magit"]	
	   path = vendor/magit		
	   url = git://gitorious.org/magit/mainline.git
[submodule "vendor/perspective"]	
	   path = vendor/perspective		
	   url = git://github.com/nex3/perspective-el.git
[submodule "vendor/smart-tab"]	
	   path = vendor/smart-tab		
	   url = git://github.com/sroccaserra/smart-tab.git
[submodule "vendor/haml-mode"]
     path = vendor/haml-mode
     url = git://github.com/nex3/haml-mode.git
[submodule "haml-mode"]
	   path = vendor/haml-mode
	   url = git://github.com/nex3/haml-mode.git
[submodule "vendor/twittering-mode"]
     path = vendor/twittering-mode
	   url = git://github.com/hayamiz/twittering-mode.git
[submodule "vendor/processing"]
	path = vendor/processing
	url = git://github.com/omouse/processing-emacs.git
[submodule "vendor/rainbow-mode"]
	path = vendor/rainbow-mode
	url = git://github.com/emacsmirror/rainbow-mode.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = git://github.com/jgv/scss-mode.git
